{% extends 'core/base.html' %}

{% block title %}Setting Profile{% endblock title %}

{% block content%}
<h1 class="mb-4 text-3xl">{{title}}</h1>

<div class="flex justify-center border rounded-xl bg-white">
    <form method="post" action="." enctype="multipart/form-data" >
        {% csrf_token %}
        <div class="space-y-4">
            {{form.as_p}}
            <img id="preview-image" src="#" alt="Preview" style="display: none; ">
        </div>

        {% if form.errors or form.non_field_errors %}
        <div class="mb-3 p-6 bg-red-300 rounded-xl">
            {% for field in form %}
                {{ field.errors }}
            {% endfor %}
            {{form.non_field_errors}}
        </div>
        {% endif %}
        
        <button class="py-4 px-8 my-4 text-lg bg-orange-500 hover:bg-orange-700 rounded-xl text-white">Submit</button>
    </form>
</div>
<script>
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function() {
            var output = document.getElementById('preview-image');
            output.src = reader.result;
            output.style.display = 'block';
        };
        reader.readAsDataURL(event.target.files[0]);
    }

    document.getElementById('id_image').addEventListener('change', previewImage);
</script>
{%endblock%}