{% extends 'core/base.html' %}

{% block title %}Orders{% endblock title %}

{% block content %}
{% include 'dashboard/topside.html' %}
<div class="flex flex-col overflow-x-auto  border-t-2 border-orange-600 mt-4">
    <div class="sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
        <div class="overflow-x-auto">
          <table class="min-w-full text-center text-sm font-light">
            <thead class="border-b font-medium dark:border-neutral-500">
              <tr>
                <th scope="col" class="px-6 py-4 text-xl">Order_ID</th>
                <th scope="col" class="px-6 py-4 text-xl">Odered_date</th>
                <th scope="col" class="px-6 py-4 text-xl">Item Name</th>
                <th scope="col" class="px-6 py-4 text-xl">Price</th>
                <th scope="col" class="px-6 py-4 text-xl">Quantity</th>
                <th scope="col" class="px-6 py-4 text-xl">Total Item Price</th>
              </tr>
            </thead>
            <tbody>
                {% for order_item in sales_orders %}
                    <tr class="border-b dark:border-neutral-500">
                        <td class="whitespace-nowrap px-6 py-4 font-bold">{{order_item.order_set.first.pk}}</td>
                        <td class="whitespace-nowrap px-6 py-4">{{order_item.order_set.first.start_date}}</td>
                        <td class="whitespace-nowrap px-6 py-4">{{order_item.item.name}}</td>
                        <td class="whitespace-nowrap px-6 py-4">{{order_item.item.price}}</td>
                        <td class="whitespace-nowrap px-6 py-4">
                            {{order_item.quantity}}
                        </td>
                        <td class="whitespace-nowrap px-6 py-4">
                            {% if order_item.item.discount_price %}
                                ${{ order_item.get_total_discount_item_price }}
                                <span class="badge badge-primary">Saving ${{ order_item.get_amount_saved }}</span>
                            {% else %}
                                ${{ order_item.get_total_item_price }}
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan='5'>Your cart is empty</td>
                    </tr>
                {% endfor %}
                {% comment %} {% if sales_order.coupon %}
                <tr>
                    <td colspan="4"><b>Coupon</b></td>
                    <td><b>-${{ sales_order.coupon.amount }}</b></td>
                </tr>
                {% endif %}
                {% if sales_order.get_total %}
                <tr>
                        <td colspan="4"><b class="text-xl">Order Total</b></td>
                        <td><b class="text-xl">${{ sales_order.get_total }}</b></td>
                </tr>
                {% endif %} {% endcomment %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

